<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZachChilders_CPT_206_A01_S_FinalProject.My.MySettings.MLBPlayersConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MLBPlayers.mdb"
            providerName="System.Data.OleDb" />
        <add name="ZachChilders_CPT_206_A01_S_FinalProject.My.MySettings.MLBAllPlayersConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MLBAllPlayers.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>